.navbar {
  background: #000000;
  background: linear-gradient(to left, #214b53, #2d193a);
}

#navbar__logo {
  background: #fc354c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0abfbc,
    #fc354c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0abfbc,
    #fc354c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar__links:hover {
  background: #fc354c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0abfbc,
    #fc354c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0abfbc,
    #fc354c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Intro Section*/
.intro {
  background: #000000;
  background: linear-gradient(to right, #090909, #2d193a);
  padding: 200px 0;
}

.intro__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.intro__heading {
  font-size: 100px;
  margin-bottom: 20px;
  color: #fff;
}

.intro__heading span {
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.intro__quote {
  margin-top: 20px;
  font-size: 40px;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.highlight {
  border-bottom: 4px solid rgb(132, 0, 255);
}

@media screen and (max-width: 760px) {
  .intro__heading {
    font-size: 50px;
  }

  .intro__quote {
    font-size: 30px;
  }
}

