/* Intro Section*/
.intro {
  background: #000000;
  background: linear-gradient(to right, #090909, #2d193a);
  padding: 200px 0;
}

.intro__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.intro__heading {
  font-size: 100px;
  margin-bottom: 20px;
  color: #fff;
}

.intro__heading span {
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.intro__quote {
  margin-top: 20px;
  font-size: 40px;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.highlight {
  border-bottom: 4px solid rgb(132, 0, 255);
}

@media screen and (max-width: 760px) {
  .intro__heading {
    font-size: 50px;
  }

  .intro__quote {
    font-size: 30px;
  }
}

/* Intro Section pt2*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#introdiv {
  text-align: center;
  background: rgb(255, 255, 255);
  height: fit-content;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 5px;
  border: 1px solid black;
  overflow: hidden;
}
#headdiv {
  background-color: rgba(23, 23, 28, 0.693);
  padding: 10px;
  width: 500px;
  height: 650px;
  float: left; /* add this */
  border: none;
}

p {
  margin-top: 150px;
  font-size: 20px;
}
#figdiv {
  border: none;
  overflow: hidden;
}

figure {
  background-color: rgba(65, 61, 61);
  padding: 5px;
  width: fit-content;
  height: fit-content;
  margin-right: 50px;
}
img {
  height: 600px;
  width: 400px;
}

#contents {
  background: rgba(23, 24, 20, 0.7);
  height: 100px;
  width: 100%;
}

#contents ul {
  padding: 30px;
  text-align: center;
  margin-left: 30px;
  margin-top: 40px;
}

#contents ul li {
  display: inline;
  margin-right: 20px;
}

#contents ul li a {
  font-size: 20px;
  color: floralwhite;
  text-decoration: none;
}

/* Basic */

@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #1d1f21c7;
}
