* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background: #000000;
  background: linear-gradient(to left, #214b53, #2d193a);
}

#navbar__logo {
  background: #fc354c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0abfbc,
    #fc354c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0abfbc,
    #fc354c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar__links:hover {
  background: #fc354c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0abfbc,
    #fc354c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0abfbc,
    #fc354c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Blogs Section*/
.blogs {
  background: #000000;
  background: linear-gradient(to right, #090909, #2d193a);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
}

.blogs h1 {
  background-color: #ff8177;
  background-image: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.blogs__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.blogs__card {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(
    40deg,
    hsl(274deg 74% 33%) 0%,
    hsl(283deg 75% 31%) 13%,
    hsl(293deg 77% 29%) 21%,
    hsl(303deg 81% 28%) 27%,
    hsl(309deg 82% 29%) 32%,
    hsl(306deg 72% 30%) 36%,
    hsl(303deg 65% 31%) 41%,
    hsl(299deg 60% 32%) 45%,
    hsl(309deg 60% 35%) 49%,
    hsl(324deg 64% 41%) 53%,
    hsl(334deg 67% 46%) 57%,
    hsl(342deg 69% 50%) 62%,
    hsl(339deg 69% 47%) 67%,
    hsl(331deg 68% 40%) 74%,
    hsl(318deg 67% 32%) 83%,
    hsl(288deg 68% 26%) 100%
  );

  transition: 0.3s ease-in;
}

.blogs__card:nth-child(2) {
  background: #b92b27; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1565c0,
    #b92b27
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1565c0,
    #b92b27
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blogs__card:nth-child(3) {
  background-image: linear-gradient(
    40deg,
    hsl(239deg 65% 34%) 0%,
    hsl(252deg 62% 33%) 14%,
    hsl(262deg 60% 32%) 23%,
    hsl(271deg 59% 31%) 29%,
    hsl(281deg 57% 30%) 35%,
    hsl(291deg 55% 28%) 40%,
    hsl(303deg 54% 28%) 44%,
    hsl(308deg 56% 28%) 49%,
    hsl(306deg 58% 27%) 54%,
    hsl(305deg 61% 26%) 59%,
    hsl(303deg 64% 25%) 65%,
    hsl(301deg 68% 24%) 72%,
    hsl(299deg 75% 23%) 81%,
    hsl(297deg 87% 21%) 100%
  );
}

.blogs__card:nth-child(4) {
  background-image: linear-gradient(
    40deg,
    hsl(274deg 74% 30%) 0%,
    hsl(267deg 70% 30%) 7%,
    hsl(260deg 68% 29%) 14%,
    hsl(251deg 66% 28%) 22%,
    hsl(240deg 65% 27%) 29%,
    hsl(235deg 62% 31%) 37%,
    hsl(233deg 52% 40%) 44%,
    hsl(230deg 47% 49%) 52%,
    hsl(228deg 61% 58%) 60%,
    hsl(239deg 63% 66%) 68%,
    hsl(281deg 44% 55%) 76%,
    hsl(316deg 51% 47%) 84%,
    hsl(332deg 74% 42%) 92%,
    hsl(344deg 87% 36%) 100%
  );
}

.blogs__card:nth-child(5) {
  background-image: linear-gradient(
    110deg,
    hsl(225deg 62% 28%) 0%,
    hsl(271deg 41% 30%) 6%,
    hsl(310deg 41% 30%) 11%,
    hsl(332deg 45% 34%) 17%,
    hsl(349deg 40% 38%) 23%,
    hsl(7deg 38% 40%) 30%,
    hsl(21deg 41% 39%) 36%,
    hsl(33deg 39% 38%) 43%,
    hsl(34deg 42% 39%) 49%,
    hsl(25deg 51% 41%) 57%,
    hsl(13deg 52% 45%) 64%,
    hsl(356deg 51% 49%) 71%,
    hsl(339deg 69% 46%) 79%,
    hsl(323deg 98% 40%) 86%,
    hsl(309deg 93% 38%) 93%,
    hsl(283deg 64% 48%) 100%
  );
}

.blogs__card:nth-child(6) {
  background-image: linear-gradient(
    110deg,
    hsl(175deg 67% 32%) 0%,
    hsl(181deg 100% 26%) 6%,
    hsl(186deg 100% 26%) 11%,
    hsl(190deg 100% 26%) 17%,
    hsl(194deg 100% 25%) 23%,
    hsl(198deg 100% 25%) 30%,
    hsl(202deg 100% 23%) 36%,
    hsl(205deg 100% 22%) 43%,
    hsl(218deg 56% 28%) 49%,
    hsl(245deg 33% 36%) 57%,
    hsl(276deg 37% 35%) 64%,
    hsl(305deg 42% 35%) 71%,
    hsl(323deg 56% 38%) 79%,
    hsl(335deg 65% 41%) 86%,
    hsl(346deg 66% 45%) 93%,
    hsl(0deg 58% 49%) 100%
  );
}

.blogs__card h2 {
  font-size: 2rem;
  text-align: center;
}

.blogs__card p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}

.blogs__btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.blogs__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.blogs__card button {
  color: #fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #131313;
  font-size: 1rem;
}

.blogs__card button:hover {
  cursor: pointer;
}

.blogs__card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .blogs__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .blogs__wrapper {
    grid-template-columns: 1fr;
  }
}
